<div class="col-xs-8 col-xs-offset-2 panel panel-primary">
  <h2>Mes appareils : </h2>
  <h4>Mise à jour : {{ lastUpdate | async | date: 'EEEE d/MM/y à hh:mm:ss' | uppercase}}</h4>
  <ul class="list-group">
    <app-appareil *ngFor="let appareil of appareils; let i = index"
                  [indexOfAppareil]="i"
                  [appareilName]="appareil.name"
                  [appareilStatus]="appareil.status"
                  [id]="appareil.id">
    </app-appareil>
  </ul>
  <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()" >Tout allumer</button>
  <button class="btn btn-danger" (click)="onEteindre()" >Tout éteindre</button>
  <!--[disabled]="isAuth"-->

  <button class="btn btn-success" (click)="onSave()">Enregistrer</button>
  <button class="btn btn-primary" (click)="onFetch()">Charger</button>
</div>
